:root {
  --font-main: "Montserrat", sans-serif;
  --font-minor: "Roboto", sans-serif;
  --text-color: #ffffff;
  --text-red: #ff4e50;
  --text-black: #333333;
  --text-gray: #666666;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-image: url(../images/headermobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.registration {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 116px;
}

.registration-list {
  display: block;
  width: 90px;
  height: 35px;
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 700;
  border-radius: 20px;
  border: 2px solid transparent;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}

.registration-list:hover,
.registration-list:focus {
  border-color: var(--text-color);
}

.logo {
  display: block;
  font-size: 20px;
  font-family: var(--font-main);
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.hero {
  padding-bottom: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin: 0;
  font-size: 30px;
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.hero-text {
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--font-minor);
  font-weight: 300;
  padding-bottom: 20px;
  margin: 0;
}

.link {
  display: block;
  width: 281px;
  height: 38px;
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 700;
  border-radius: 20px;
  border: 2px solid var(--text-color);
  text-decoration: none;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}

.link:hover,
.link:focus {
  background-color: var(--text-red);
  border-color: var(--text-red);
}

.main-section {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 58px;
}

.main-title {
  font-size: 22px;
  font-family: var(--font-main);
  color: var(--text-black);
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

/*.partners-list::before {
  content: "";
  display: block;
  width: 122px;
  height: 122px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}*/

/*.partners-list::after {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  border: 4px solid var(--text-color);
  border-radius: 100%;
  position: absolute;
  transform: translateY(100%);
}*/

/*.bradley::before {
  background-image: url(../images/bradley.jpg);
}

.lucas::before {
  background-image: url(../images/lucas.jpg);
}

.heather::before {
  background-image: url(../images/heather.jpg);
}

.brittany::before {
  background-image: url(../images/brittany.jpg);
}*/

.partners-title {
  height: 18px;
  font-family: var(--font-main);
  color: var(--text-black);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 17px;
}

.partners-text {
  font-size: 14px;
  font-family: var(--font-minor);
  color: var(--text-gray);
  margin-bottom: 30px;
  margin-top: 0;
}

.last {
  color: var(--text-red);
  border: 2px solid var(--text-red);
}

.last:hover,
.last:focus {
  background-color: var(--text-red);
  color: var(--text-color);
}
